@use "sass:color";
@use "../base/variables" as *;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: rgba($color-blanco, 0.95);
    backdrop-filter: blur(5px);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;

    h2 {
        color: $color-principal;
        margin-bottom: 2rem;
        font-family: $fuente-secundaria;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input {
            padding: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 1rem;
            outline: none;
            transition: border-color 0.3s;

            &:focus {
                border-color: $color-principal;
            }
        }
    }
}