// PALETA DE COLORES
$color-principal: #5d4037;
$color-acento: #3e2723;
$color-texto: #212121;
$color-crema: #f1efe7;
$color-fondo-reserva: #a8daad;
$color-blanco: #ffffff;
$color-error: #ff5252;
$color-exito: #25D366;
$color-nav-bg: #f1efe7;

// TIPOGRAFÍA
$fuente-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;

// TRANSICIONES
$transition: all 0.3s ease;